* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 16px;
  color:#370617;
}

.hide{
  background-color: red;
  border:20px solid blue;
}

.centered{
  padding:0 30px;
}

.wrapper{
  margin:0 auto;
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
}

#location{
  width:100%;
  text-align: center;
  height: 80px;
  padding:20px;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  background-color: #5C7084;
  width:100%;
  height:100px;
}

input{
  padding:10px;
}

#spinner{
  border-radius: 50%;
  width: 10em;
  height: 10em;

  margin: 60px auto;
  font-size: 10px;
  position: relative;
  border-top: 1.1em solid rgba(220, 220, 220, 0.7);
  border-right: 1.1em solid rgba(220, 220, 220, 0.7);
  border-bottom: 1.1em solid rgba(220, 220, 220, 0.7);
  border-left: 1.1em solid #ffffff;

  animation: load8 1.1s infinite linear;
}


@keyframes load8 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
